<p>
    <%= label_tag "settings[enabled]", l(:entra_id_enabled) %>
    <%= check_box_tag 'settings[enabled]', true, EntraId.enabled? %>
    <em class="info"><%= l(:entra_id_enabled_info) %></em>
</p>
<p>
    <%= label_tag "settings[exclusive]", l(:entra_id_exclusive) %>
    <%= check_box_tag 'settings[exclusive]', true, EntraId.exclusive? %>
    <em class="info"><%= l(:entra_id_exclusive_info) %></em>
</p>
<p>
    <%= label_tag "settings[client_id]", l(:entra_id_client_id) %>
    <%= text_field_tag "settings[client_id]", EntraId.client_id, size: 40 %>
    <em class="info"><%= l(:entra_id_client_id_info) %></em>
</p>
<p>
    <%= label_tag "settings[client_secret]", l(:entra_id_client_secret) %>
    <%= password_field_tag "settings[client_secret]", size: 40 %>
    <em class="info"><%= l(:entra_id_client_secret_info) %></em>
</p>
<p>
    <%= label_tag "settings[tenant_id]", l(:entra_id_tenant_id) %>
    <%= text_field_tag "settings[tenant_id]", EntraId.tenant_id, size: 40 %>
    <em class="info"><%= l(:entra_id_tenant_id_info) %></em>
</p>